<div class="py-20 bg-gray-50 ">
    
    <h1 style="display: flex;flex-direction: column; justify-content: center; align-items: center;font-weight: bold; font-size: 3em;color: rgb(121, 164, 121);">BIENVENU A LA SONATEL ACADEMY</h1>
    <div class="container mx-auto px-6 md:px-12 xl:px-32 " style="display: flex;flex-direction: column; justify-content: center; align-items: center;margin-top: 9em;">
        <br>
        <br>
        <div class="grid gap-12 items-center md:grid-cols-3">
            <div  (click)="resp()" class=" ass space-y-4 text-center shadow-lg ">
                <div >
                    <!-- <input type="hidden" name="ResponsablePedagogique" [(ngModel)]="ResponsablePedagogique"> -->

                    <img class="w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64"
                        src="https://cdn-icons-png.flaticon.com/512/306/306432.png" alt="woman" loading="lazy"
                        width="640" height="805">
                    <div>
                        <h4 class="text-2xl">RESPONSABLE  PEDAGOGIQUE</h4>
                        <span class="block text-sm text-gray-500">CEO</span>
                    </div>
                </div>
            </div>

            <div (click)="attache()" class=" ass space-y-4 text-center shadow-lg">
                <div >
                    <img class="w-64 h-64 mx-auto object-cover rounded-xl md:w-48 md:h-64 lg:w-64 lg:h-80"
                        src="https://static.vecteezy.com/ti/vecteur-libre/p1/17082728-illustration-d-icone-de-main-avec-etudiant-adapte-a-l-icone-de-remise-des-diplomes-icone-liee-a-l-education-style-d-icone-a-deux-tons-conception-de-vecteur-simple-modifiable-vectoriel.jpg"
                        alt="man" loading="lazy" width="1000" height="667">
                    <div>
                        <h4 class="text-2xl">ATTACHÉ</h4>
                        <span class="block text-sm text-gray-500">CTO</span>
                    </div>
                </div>
            </div>

            <div (click)="profs()" class="ass space-y-4 text-center shadow-lg">
                <div >
                    <img class="w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64"
                        src="https://us.123rf.com/450wm/andrei45454/andrei454541705/andrei45454170500042/79270574-un-professeur-de-logo-ou-d-%C3%A9tiquette-logotype-de-style-de-ligne-mod%C3%A8le-d-enseignant-facile-%C3%A0.jpg?ver=6"
                        alt="woman" loading="lazy" width="1000" height="667">
                    <div>
                        <h4 class="text-2xl">PROFESSEURS</h4>
                        <span class="block text-sm text-gray-500">Gestions des Cours</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>